.footer-top {
    background-color: #262626;
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 30px 0 0;
    color: #f1f1f1;
}

.footer-top .row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.footer-top .col-3 {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
    margin-bottom: 1.5em;
    padding-bottom: 0 !important;
    position: relative;
    padding: 0 15px 30px;
    width: 100%;
}

.footer-content a {
    color: #f1f1f1;
}

.footer-content .widget-title {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: sans-serif;
}

.footer-content .is-divider {
    background-color: rgba(255, 255, 255, .3);
    margin-top: 0.66em;
    height: 3px;
    display: block;
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}

.social-icons {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: .85em;
}

.social-icons a {
    border-color: rgba(255, 255, 255, .5);
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: transparent;
    border-radius: 999px !important;
    line-height: 2.19em;
}

.social-icons a i {
    font-size: 1.2em;
    color: #f1f1f1;
}